<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Ethical Phishing Platform{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('dashboard') }}"><h1>Ethical Phishing Simulator</h1></a>
    </nav>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
